# Local Database URL (Docker Postgres)
DATABASE_URL="postgres://4506ff84f263ef60c55246f2d15d68c2b166cfc26e2b01fbf647b3648bfeca47:sk_zURaxqK-uTGY-KV4NXYhx@db.prisma.io:5432/postgres?sslmode=require"

# Shopify API Credentials (populate with your app details)
SHOPIFY_API_KEY=""
SHOPIFY_API_SECRET=""
SHOPIFY_CART_TRANSFORM_ID=""
HOST=""
SCOPES="write_products,read_products,write_cart_transforms,read_cart_transforms"
PORT=3000
