# Local Database URL (Docker Postgres)
DATABASE_URL="postgresql://postgres:password@localhost:5432/bundler_db?schema=public"

# Shopify API Credentials (populate with your app details)
SHOPIFY_API_KEY=""
SHOPIFY_API_SECRET=""
SHOPIFY_CART_TRANSFORM_ID=""
HOST=""
SCOPES="write_products,read_products,write_cart_transforms,read_cart_transforms"
PORT=3000
